In [ ]:
某院校为了查看选修课教学情况，现需抽查某老师所有讲授的选修课的学生考试信息。已知该院校现有信息系统中现有:Student学生表、Course课程表、Teacher教师表、Score成绩表，假设现要查看选修[TeacherZhang]老师所有讲授课程的学生考试信息，需要将学生的考试ID，学生姓名，课程名称，课程成绩等信息进行显示，并将显示结果按照考试id排序。请编写相应SQL语句进行相关处理。



输入描述
    Student学生表：

    	--SNo 学生编号,Sname 学生姓名,Sage 出生年月,Ssex 学生性别

    Course课程表

    	--CNo  --课程编号,Cname 课程名称,TNo 教师编号

    Teacher教师表

    	--TNo 教师编号,Tname 教师姓名

    Score成绩表

    	 --id 考试编号， SNo  学生编号,CNo 课程编号,score分数

输出描述
请编写SQL语句，查询出选修[TeacherZhang]所讲授课程中，学生课程成绩相关信息：需要对考试ID，学生姓名，课程名称，课程成绩信息进行显示。并且查询结果按照考试id进行排序。

In [ ]:
样例输入
CREATE TABLE Student(
 SNo  VARCHAR(20),
 Sname VARCHAR(20),
 Sage INT,
 Ssex VARCHAR(4),
 PRIMARY KEY(SNo)
 );
 CREATE TABLE Teacher(
 TNo  VARCHAR(20),
 Tname VARCHAR(20),
 PRIMARY KEY(TNo)
 );
 
 CREATE TABLE Course(
 CNo  VARCHAR(20),
 Cname VARCHAR(20),
 TNo  VARCHAR(20),
 PRIMARY KEY(CNo),
 FOREIGN KEY (TNo) REFERENCES Teacher(TNo)
 );

 CREATE TABLE Score(
 id INT NOT NULL,
 SNo  VARCHAR(20),
 CNo  VARCHAR(20),
 Score INT,
 PRIMARY KEY(id),
 FOREIGN KEY (SNo) REFERENCES Student(SNo),
 FOREIGN KEY (CNo) REFERENCES Course(CNo)
 );
 
 
 INSERT INTO student(Sno,Sname,Sage,Ssex) VALUES('S1001','stuHan',21,'m');
 INSERT INTO student(Sno,Sname,Sage,Ssex) VALUES('S1002','stuLi',22,'M');
  INSERT INTO student(Sno,Sname,Sage,Ssex) VALUES('S1003','stuWang',20,'F');
  
  INSERT INTO Teacher(TNo,Tname) VALUES('T001','TeacherZhang');
  INSERT INTO Teacher(TNo,Tname) VALUES('T002','TeacherWang');
  INSERT INTO Teacher(TNo,Tname) VALUES('T003','TeacherLi');
 

  
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C001','HTML','T001');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C002','java','T001');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C003','C#','T002');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C004','python','T002');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C005','web','T003');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C006','J2EE','T003');
  
  
  
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(1,'S1001','C001',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(2,'S1002','C001',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(3,'S1003','C001',88);
  
  
   INSERT INTO Score(id,SNo,CNo,Score) VALUES(4,'S1001','C002',100);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(5,'S1002','C002',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(6,'S1003','C002',88);
  
  
  
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(7,'S1001','C003',100);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(8,'S1002','C003',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(9,'S1003','C003',88);
  
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(10,'S1001','C004',100);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(11,'S1002','C004',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(12,'S1003','C004',88);
样例输出
id	Sname	Cname	Score
1	stuHan	HTML	90
2	stuLi	HTML	90
3	stuWang	HTML	88
4	stuHan	java	100
5	stuLi	java	90
6	stuWang	java	88

In [ ]:
样例输入
CREATE TABLE Student(
                                                   SNo Sname  Sage  Ssex 
     INSERT INTO student(Sno,Sname,Sage,Ssex) VALUES('S1001','stuHan',21,'m');
 INSERT INTO student(Sno,Sname,Sage,Ssex) VALUES('S1002','stuLi',22,'M');
  INSERT INTO student(Sno,Sname,Sage,Ssex) VALUES('S1003','stuWang',20,'F');
    
    
 CREATE TABLE Teacher(
                                           TNo  Tname 
   INSERT INTO Teacher(TNo,Tname) VALUES('T001','TeacherZhang');
  INSERT INTO Teacher(TNo,Tname) VALUES('T002','TeacherWang');
  INSERT INTO Teacher(TNo,Tname) VALUES('T003','TeacherLi');
     
     
 CREATE TABLE Course(
                                            CNo  Cname  TNo
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C001','HTML','T001');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C002','java','T001');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C003','C#','T002');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C004','python','T002');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C005','web','T003');
  INSERT INTO Course(CNo,Cname,TNo) VALUES('C006','J2EE','T003');
     
     
 CREATE TABLE Score(
                                             id SNo  CNo  Score  
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(1,'S1001','C001',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(2,'S1002','C001',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(3,'S1003','C001',88);
  
  
   INSERT INTO Score(id,SNo,CNo,Score) VALUES(4,'S1001','C002',100);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(5,'S1002','C002',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(6,'S1003','C002',88);
  
  
  
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(7,'S1001','C003',100);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(8,'S1002','C003',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(9,'S1003','C003',88);
  
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(10,'S1001','C004',100);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(11,'S1002','C004',90);
  INSERT INTO Score(id,SNo,CNo,Score) VALUES(12,'S1003','C004',88);
样例输出
id	Sname	Cname	Score
1	stuHan	HTML	90
2	stuLi	HTML	90
3	stuWang	HTML	88
4	stuHan	java	100
5	stuLi	java	90
6	stuWang	java	88

In [ ]:
select

from
Score join 
(select
TNo Cname
from 
Teacher join Course on Teacher.TNo = Course.TNo where Tname = "TeacherZhang") a on Score.

In [40]:
输入描述
第一行两个正整数 n，m，分别表示办事处有n个窗口，会有m个人来办理业务。

第二行有m个数，第i个数t[i]表示第i个人来到办事处的时间点。

第三行有m个数，第i个数c[i]表示第i个人办理业务所需要的时间。

数字间两两有空格隔开。

30%的数据保证 n=1,m<=100,1<=t[i], c[i]<=100。

60%的数据保证 n<=10,m<=100,1<=t[i], c[i]<=200。

100%的数据保证 n<=100,m<=10000,1<=t[i], c[i]<=20000。

输出描述
一行，一个整数，表示m个人中最后一个离开办事处的时间点。
3 5
7 8 4 5 3
7 6 8 8 5
样例输出
21
=======
64%
n = 3
m = 5
t = [int(i) for i in '7 8 4 5 3'.split()]
c = [int(i) for i in '7 6 8 8 5'.split()]
s = []
for i in range(m):
    s.append([t[i],c[i]])

s.sort(key=lambda x:(x[0],-x[1]))
res = [0 for i in range(n)]
so = [[]for i in range(n)]
for i in s:
    if i[0] > max(res):
        res[0] = i[0] + i[1]
        so[0].append([i[0],i[0]+i[1]])
    else:
        f = [0 for k in range(n)]
        for k in range(n):
            for kk in so[k]:
                if kk[1]>i[0]:
                    f[k] += 1
        j = f.index(min(f))
        
        mm = max(i[0],res[j])
        res[j] = mm + i[1]
        so[j].append([mm,mm+i[1]])
print(max(res))

21

In [6]:
s.sort(key=lambda x:(x[0],-x[1]))

In [42]:
res = [0 for i in range(n)]
so = [[]for i in range(n)]

In [43]:
for i in s:
    if i[0] > max(res):
        res[0] = i[0] + i[1]
        so[0].append([i[0],i[0]+i[1]])
    else:
        f = [0 for k in range(n)]
        for k in range(n):
            for kk in so[k]:
                if kk[1]>i[0]:
                    f[k] += 1
        j = f.index(min(f))
        
        mm = max(i[0],res[j])
        res[j] = mm + i[1]
        so[j].append([mm,mm+i[1]])
    print(i,res)
    print(so)
    print('===')

[3, 5] [8, 0, 0]
[[[3, 8]], [], []]
===
[4, 8] [8, 12, 0]
[[[3, 8]], [[4, 12]], []]
===
[5, 8] [8, 12, 13]
[[[3, 8]], [[4, 12]], [[5, 13]]]
===
[7, 7] [15, 12, 13]
[[[3, 8], [8, 15]], [[4, 12]], [[5, 13]]]
===
[8, 6] [21, 12, 13]
[[[3, 8], [8, 15], [15, 21]], [[4, 12]], [[5, 13]]]
===

In [26]:
for i in s:
    if i[0] < min(res):
        res[res.index(min(res))] = min(res)+i[1]
    elif i[0] > max(res):
        res[0] = i[0] + i[1]
    else:
        res[res.index(min(res))] = i[0] + i[1]
    print(i,res)

[3, 5] [8, 0, 0]
[4, 8] [8, 12, 0]
[5, 8] [8, 12, 13]
[7, 7] [15, 12, 13]
[8, 6] [15, 18, 13]

In [22]:
res

[15, 18, 13]

In [ ]:
样例解释

按照时间点从小到大考虑：

最早来的是第5个人，在时刻3到来，选择了第1个窗口直接办理，需要时长5，将会在时刻8离开。

然后是第3个人，在时刻4到来，此时1窗口有1人，2、3窗口无人，因此选择第2个窗口直接办理，需要时长8，将会在时刻12离开。

接着第4个人在时刻5到来，此时1、2窗口各有1人，3窗口无人，因此选择第3个窗口直接办理，需要时长8，将会在时刻13离开。

接着第1个人在时刻7到来，此时1、2、3窗口各有1人，因此选择第1个窗口排队，需要时长7，而窗口1的前一个人会在时刻8离开，因此他将在时刻8+7=15离开。

接着第2个人在时刻8到来，此时第5个人从窗口1离开了，此时1、2、3窗口各有1人，因此选择第1个窗口排队，需要时长6，该窗口前一个人将在时刻15离开，因此他将在时刻15+6=21离开。

因此最后一个人离开办事处的时间点是21。

In [12]:
a = [1,2,3]

In [18]:
a[a.index(min(a))] = 5

In [19]:
a

[5, 5, 3]

In [9]:
s

[[3, 5], [4, 8], [5, 8], [7, 7], [8, 6]]

In [5]:
s

[[7, 7], [8, 6], [4, 8], [5, 8], [3, 5]]

In [ ]:
11
3 3 1 1 2 2 2 2 1 3 3

In [2]:
n = 11
c = [int(i) for i in '3 3 1 1 2 2 2 2 1 3 3'.split()]

def ex(p):
    a = p
    b = p
    
    while a>=0 and b<len(c):
        if c[a] == c[p]:
            a -= 1
        if c[b] == c[p]:
            b += 1
    return a,b

In [ ]:
f = 0
while f = 0:
    for i in range(len(c)):